<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Login to Site</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/auth.css">
</head>
<body class="text-center">
	<form class="auth-form" method="post">
		<h1>Sign In</h1>
		<label for="username"></label>
		<input id="username" type="username" name="username" placeHolder="Enter username" required/>
		<label for="password"></label>
		<input id="password" type="password" name="password" placeHolder="Enter password" required/>
		<input type="submit" class="btn btn-primary btn-lg" value="Submit">
	</form>
</body>
</html>
